@use './variables.scss' as variables;

.heading {
    font-family: variables.$font-header;
    text-align: center;
    line-height: normal;
}

#name{
    font-size: 5em;
}

#position {
    padding-bottom: 6px;
    font-size: 1.5em;
}

#about-me {
  background-color: variables.$color-orange;
  border-radius: 8px;
  padding: 10px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

#profile-pic {
    border-radius: 8px;
}

@media only screen and (max-width: variables.$screen-tablet){
    #profile-pic{
        max-width: 300px;
    }

}

/* large mobile view */
@media only screen and (max-width: variables.$screen-lg-mobile){
    #profile-pic{
        max-width: 300px;
    }

    #name{
        font-size: 2.5em;
    }

    #position{
        font-size: 1.5em;
    }

    #about-me{
        max-width: 400px;
        font-size: 1em;
    }

    .picture-section{
        order:1;
    }

    .text-section{
        order:2;
    }
}

@media only screen and (max-width: variables.$screen-mobile){
    #profile-pic{
        max-width: 200px;
    }

    .picture-section{
        order: 1;
    }

    .text-section{
        order: 2;
    }

    #name{
        font-size: 2em;
    }

    #position{
        font-size: 1em;
    }

    #about-me{
        max-width: 300px;
        font-size: 0.8em;
    }
}



  