@use './variables.scss' as variables;

.content-section {
    background-color: variables.$color-gray;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    border-radius: 0.5em;
}

h5 {
    font-family: variables.$font-header;
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 0.03cm;
}

.experience-paragraph {
    padding: 12px;
}

.position-place{
    padding-top: 6px;
    padding-bottom: 6px;
}

.date {
    display: inline;
    float: right;
    padding-right: 12px;
}

ul{
    list-style-type: disc;
    padding-left: 1.5rem;
}

@media only screen and (max-width: variables.$screen-mobile){
    .position-place{
        font-size: 1em;
    }

    .experience-paragraph{
        font-size: 0.75em;
    }
}