@use './variables.scss' as variables;

.selected {
    background-color: variables.$color-orange;
}

.section-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (max-width: variables.$screen-mobile) {
        margin: auto; 
    }
}